### Library Import

In [6]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv("files/covid-hospit-2023-03-31.csv",sep=";")
metadata = pd.read_csv("files/metadonnees-donnees-hospitalieres-covid19.csv",encoding="latin-1",sep=";")
pd.set_option('display.max_colwidth',None)

### Metadata and Data

In [8]:
metadata

,Colonne,Type,Description_FR,Description_EN,Exemple
0,dep,integer,DÃ©partement,Department,1
1,sexe,integer,Sexe,Sex,0
2,jour,string($date),Date de notification,Date of notice,18/03/2020
3,hosp,integer,Nombre de personnes actuellement hospitalisées,Number of people currently hospitalized,2
4,rea,integer,Nombre de personnes actuellement en services de réanimation ou soins intensifs,Number of people currently in resuscitation or critical care,0
5,rad,integer,Nombre cumulé de personnes retournées à domicile,Total amount of patient that returned home,1
6,dc,integer,Nombre cumulé de personnes décédées à l'hôpital,Total amout of deaths at the hospital,0
7,ssr_usld,integer,Nombre de personnes actuellement en services de SSR ou USLD,NaN,NaN
8,hospconv,integer,Nombre de personnes actuellement en services d'hospitalisation conventionnelle,NaN,NaN
9,autres,integer,Nombre de personnes actuellement en autres types de services,NaN,NaN

In [9]:
df.head(10)

  dep  sexe        jour  hosp  rea  HospConv  SSR_USLD  autres  rad  dc
0  01     0  2020-03-18     2    0       NaN       NaN     NaN    1   0
1  01     1  2020-03-18     1    0       NaN       NaN     NaN    1   0
2  01     2  2020-03-18     1    0       NaN       NaN     NaN    0   0
3  02     0  2020-03-18    41   10       NaN       NaN     NaN   18  11
4  02     1  2020-03-18    19    4       NaN       NaN     NaN   11   6
5  02     2  2020-03-18    22    6       NaN       NaN     NaN    7   5
6  03     0  2020-03-18     4    0       NaN       NaN     NaN    1   0
7  03     1  2020-03-18     1    0       NaN       NaN     NaN    0   0
8  03     2  2020-03-18     3    0       NaN       NaN     NaN    1   0
9  04     0  2020-03-18     3    1       NaN       NaN     NaN    2   0

In [10]:
df['jour'] = df['jour'].apply(pd.to_datetime)

KeyboardInterrupt:

Retrouver le tableau de donnée "reduced_covid_sexe.csv" à partir des données csv officielle disponible sur le site de data.gouv.fr (pd.groupby?, et pd.unstack?)

In [ ]:
df.drop(['dep','HospConv','SSR_USLD','autres'],axis=1,inplace=True)

In [ ]:
df_group = df.groupby(['jour','sexe']).sum()

In [ ]:
df_group = df_group.unstack(level=-1)

In [ ]:
df_group

NameError: name 'df_group' is not defined

Tracer un histogramme permettant de visualiser quelles sont les régions ou la probabilité de mourir du covid en France est la plus élevé ?

In [ ]:
df