df = pd.DataFrame({
    "colonne a": [1, 2, 3],
    "colonne b": [6, 7, 8],
    "colonne c": [0, 0, 1]
})

Tester cet objet, accéder au colonne. Itérer l'objet. Afficher le. Récupérer le tableau numpy. Rajouter une nouvelle colonne. Renommer toues le colonne mettant les initial en majuscule (str.title?)

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({
    "colonne a": [1, 2, 3],
    "colonne b": [6, 7, 8],
    "colonne c": [0, 0, 1]
})

In [7]:
df.columns

Index(['colonne a', 'colonne b', 'colonne c'], dtype='object')

In [8]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [9]:
df.dtypes

colonne a    int64
colonne b    int64
colonne c    int64
dtype: object

In [13]:
df[0:3]

   colonne a  colonne b  colonne c
0          1          6          0
1          2          7          0
2          3          8          1

In [17]:
df.loc[:, ["colonne a","colonne b"]]

   colonne a  colonne b
0          1          6
1          2          7
2          3          8

In [12]:
df.to_numpy()

array([[1, 6, 0],
       [2, 7, 0],
       [3, 8, 1]], dtype=int64)

In [18]:
df["colonne d"] = [0,2,3]

In [19]:
df

   colonne a  colonne b  colonne c  colonne d
0          1          6          0          0
1          2          7          0          2
2          3          8          1          3

In [24]:
df.rename(columns=str.title,inplace=True)
df

   Colonne A  Colonne B  Colonne C  Colonne D
0          1          6          0          0
1          2          7          0          2
2          3          8          1          3