Téléchargez le fichier CSV "email_jetable.csv" à partir du lien suivant : https://sql.sh/ressources/sql-email-jetable/email_jetable.csv

Chargez le fichier dans un DataFrame nommé "emails_df".

Donnez un nom aux colonnes: [index, emails]

Créez une nouvelle colonne "extension" contenant uniquement l’extension du domaines des adresses e-mail (com, fr etc…).

Affichez les valeurs unique de la colonne “extension”

In [1]:
import pandas as pd

In [2]:
df_email = pd.read_csv("files/email_jetable.csv")

In [3]:
df_email.rename(columns={"1":"index", "0815.ru0clickemail.com":"emails"},inplace=True)

       1 0815.ru0clickemail.com
0      2             0-mail.com
1      3               0wnd.net
2      4               0wnd.org
3      5       10minutemail.com
4      6       20minutemail.com
..   ...                    ...
303  305             yopmail.fr
304  306            yopmail.net
305  307             yuurok.com
306  308         zippymail.info
307  309            zoemail.com

[308 rows x 2 columns]